<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen flex flex-col">
    <nav class="bg-[#0A1D56] p-4">
      <div class="container mx-auto flex items-center justify-between">
        <!-- Logo -->
        <div class="text-white text-xl md:text-2xl font-semibold">
          <img src="../Admin-icon.png" alt="Logo" class="h-8 mr-2 inline" />
          <a href="../Table/Table.html">AdminLoom</a> 
        </div>
        <div class="flex md:gap-3 gap-4">
          <a
            href="../View/view.html"
            id="ViewUser"
            class="bg-white text-blue-500 px-4 py-2 rounded-full"
          >
            View
          </a>
          <a
            href="../Create/Create.html"
            id="CreateUser"
            class="bg-white text-blue-500 px-4 py-2 rounded-full"
          >
            Create
          </a>
        </div>
      </div>
    </nav>
    <div id="ViewUserForm" class="flex  justify-center py-4">
      <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h2 class="md:text-2xl text-xl font-semibold mb-6">
          Add UserID to View
        </h2>

        <div class="flex mb-4">
          <input
            type="text"
            id="textInput"
            class="w-full border border-gray-300 p-2 rounded-l focus:outline-none focus:border-blue-500"
          />
          <button
            type="button"
            onclick="addItem()"
            class="bg-blue-500 text-white p-2 rounded-r hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
          >
            Select
          </button>
        </div>

        <div
          id="displayValues"
          class="flex flex-col gap-3 p-2 rounded mb-6"
        ></div>
        <div>
          <button
            onclick="ViewUsers()"
            class="bg-[#0A1D56] text-white w-[100%] p-2 rounded-lg hover:bg-[#0A1D56] focus:outline-none focus:ring focus:border-[#0A1D56]"
          >
            View
          </button>
        </div>
      </div>   
      
    </div>
    <div id="TableContain" class="hidden container mx-auto mt-8">
        <div class="md:p-4 py-3 px-3">
          <h1 class="md:text-xl text-gray-600">View Users</h1>
        </div>
        <table class="min-w-full bg-white border border-gray-300">
          <thead>
            <tr>
              <th class="py-2 px-4 border-b md:text-xl text-sm">User ID</th>
              <th class="py-2 px-4 border-b md:text-xl text-sm">Name</th>
              <th class="py-2 px-4 border-b md:text-xl text-sm">Photo</th>
              <th class="py-2 px-4 border-b md:text-xl text-sm">Actions</th>
            </tr>
          </thead>
          <tbody id="MainTable"></tbody>
        </table>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

      <script>
        let MainArray = [];

        function addItem() {
          const inputValue = document.getElementById("textInput").value;
          if (inputValue.trim() !== "") {
            const newInput = document.createElement("input");
            newInput.type = "text";
            newInput.value = inputValue;
            newInput.className =
              "w-full border border-gray-300 p-2 rounded-l focus:outline-none focus:border-blue-500";
            newInput.readOnly = true;
            MainArray.push(inputValue);
            const removeButton = document.createElement("button");
            removeButton.type = "button";
            removeButton.textContent = "Remove";
            removeButton.className =
              "bg-red-500 text-white p-2 rounded-r hover:bg-red-600 focus:outline-none focus:ring focus:border-red-300";
            removeButton.addEventListener("click", function () {
              newInput.remove();
              removeButton.remove();
              MainArray.filter((value) => value !== inputValue);
            });

            document.getElementById("displayValues").appendChild(newInput);
            document.getElementById("displayValues").appendChild(removeButton);

            document.getElementById("textInput").value = "";
          }
        }

        const ViewUsers = async () => {
          const getViewUsersEndpoint = "http://localhost:5000/ViewUsers";
          try {
            const getUsersResponse = await axios
              .get(getViewUsersEndpoint, {
                params: {
                  SelectedUsers: MainArray,
                },
              })
              .then((res) => {
                if (res.data.valid) {
                   document.getElementById('ViewUserForm').className ="hidden"
                  document.getElementById("TableContain").className = "container mx-auto mt-8";
                  document.getElementById("MainTable").innerHTML = "";

                  res.data.data.forEach((user) => {
                    const newRow = `
            <tr>
            <td class="py-2 px-4 border-b text-center text-sm md:text-lg">${
              user.userId
            }</td>
            <td class="py-2 px-4 border-b text-center text-sm md:text-lg">
              ${user.name}
              </td>
            <td class="py-2 px-4 border-b text-center">
              <div class="flex justify-center">
                <img
                  src="${user.image.url}"
                  alt="User 1"
                  class="h-5 w-5 md:w-8 md:h-[56px] md:w-[56px] rounded-lg"
                />
              </div>
            </td>
            <td class="flex justify-center py-2 px-4 gap-4 border-b">
              ${
                user.status === "Review"
                  ? ` <button onclick="Approve(${user.userId})"
                class="border border-[#0500FF] text-[#0500FF] md:px-4 md:py-2 px-2 py-1 text-sm md:text-lg rounded-[8px] hover:bg-[#0500FF] hover:text-white"
              >
                Done
              </button>`
                  : ``
              }
             
              <button
              onclick="Delete(${user.userId})"
                class="border border-[#0500FF] text-[#0500FF] md:px-4 md:py-2 px-2 py-1 text-sm md:text-lg rounded-[8px] hover:bg-[#0500FF] hover:text-white"
              >
                Delete
              </button>
            </td>
          </tr>
          
          `;

                    document
                      .getElementById("MainTable")
                      .insertAdjacentHTML("beforeend", newRow);
                  });
                }
              });
            console.log(MainArray);
          } catch (error) {
            console.error("Error fetching users:", error.message);
          }
        };

        const Approve = async(id)=>{
           
           const ApproveEndpoint = "http://localhost:5000/ApproveUser";

        try {
          await axios.post(ApproveEndpoint , {id:id}).then(res=>{
            if(res.data.valid){
              ViewUsers();

            }
          })

          
        } catch (error) {
          console.log(error)
        }
      }
      const Delete = async(id)=>{
           
           const DelteEndpoint = "http://localhost:5000/DeleteUser";

        try {
          await axios.post(DelteEndpoint , {id:id}).then(res=>{
            if(res.data.valid){
              ViewUsers();

            }
          })

          
        } catch (error) {
          console.log(error)
        }
      }

      </script>
  </body>
</html>
